.header {
  background: transparentize(lighten($blue-violet, 5%), .05);
  padding: .5rem 1rem;
  font-size: .8em;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  will-change: transform;
}

.header + * {
  margin-top: 6rem;
}
