{{> organisms-header }}
<main class="container">
  {{> molecules-block-media }}
  <div class="article">
    <h1>{{ blogTitle }}</h1>
    <p class="article__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quidem, recusandae sunt architecto aut expedita facere, explicabo consectetur quasi ullam. Voluptatum quas quibusdam dolor, beatae aut sapiente reiciendis placeat cupiditate?</p>
    {{> molecules-figure }}
    <p class="article__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat autem id saepe <em>voluptatem, rerum illo debitis atque, eius officia numquam quod incidunt ad</em>, eveniet rem, dolorem possimus maiores tenetur! Impedit.</p>
    <h2 class="article__h2">Headline 2</h2>
    <p class="article__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat autem id saepe voluptatem, rerum illo debitis atque, eius officia numquam quod incidunt ad, eveniet rem, dolorem possimus maiores tenetur! Impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti adipisci culpa minus itaque iusto repellat, debitis et sit voluptatem cumque aliquam accusamus quidem vero, cupiditate dicta corporis, hic tempore aliquid.</p>
    <h2 class="article__h2">Headline 2</h2>
    <p class="article__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eveniet nam, adipisci sequi repellendus, nobis earum aliquam aut amet voluptatem fuga dicta. Fugit consequatur iure, assumenda maiores sapiente beatae corporis?</p>
    <p class="article__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, autem ipsum fugit voluptates, accusantium provident debitis iure velit placeat cumque maxime repellendus, et veritatis. Quo placeat, consequatur dolores natus atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nesciunt consectetur, debitis ullam ab hic possimus non architecto tempora perferendis esse, aliquid error quaerat doloremque molestias rem eos enim. Veniam.</p>
    <p class="article__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur veritatis laudantium assumenda rem illo asperiores id blanditiis, perferendis voluptas, saepe repellat repudiandae! Aliquid iste necessitatibus, deleniti itaque soluta corporis. Iure.</p>
    <p class="article__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur veritatis laudantium assumenda rem illo asperiores id blanditiis, perferendis voluptas, saepe repellat repudiandae! Aliquid iste necessitatibus, deleniti itaque soluta corporis. Iure.</p>
  </div>
</main>
{{> organisms-footer }}
