nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__author {
	align-self: flex-end;
}

// /**
//  * Pagination
//  */
// .pagination {
// 	overflow: hidden;
//
// 	li {
// 		float: left;
// 		border-right: 1px solid $color-gray-15;
//
// 		&:last-child {
// 			border: 0;
// 		}
// 	}
//
// 	a {
// 		padding: $pad;
// 	}
// }
